
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error</h2>

The reservation could not be created due to someone already reserved that time. Please choose another time.